<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Tuesday 26 April</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Welcome</td> </tr>
      <tr> <td>13:10</td>  <td>Organising Data in Spreadsheets</td> </tr>
      <tr> <td>14:20</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Organising Data in Spreadsheets</td> </tr>
      <tr> <td>15:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Wednesday 27 April</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Cleaning Data with OpenRefine</td> </tr>
      <tr> <td>14:05</td>  <td>Break</td> </tr>
      <tr> <td>14:15</td>  <td>Cleaning Data with OpenRefine</td> </tr>
      <tr> <td>15:25</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Thursday 28 April</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Analysing and Visualising Data with R: Day 1</td> </tr>
      <tr> <td>13:40</td>  <td>Break</td> </tr>
      <tr> <td>13:50</td>  <td>Analysing and Visualising Data with R: Day 1</td> </tr>
      <tr> <td>15:10</td>  <td>Break</td> </tr>
      <tr> <td>15:20</td>  <td>Analysing and Visualising Data with R: Day 1</td> </tr>
      <tr> <td>17:10</td>  <td>Finish</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Friday 29 April</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Analysing and Visualising Data with R: Day 2</td> </tr>
      <tr> <td>14:20</td>  <td>Break</td> </tr>
      <tr> <td>14:30</td>  <td>Analysing and Visualising Data with R: Day 2</td> </tr>
      <tr> <td>15:30</td>  <td>Break</td> </tr>
      <tr> <td>15:40</td>  <td>Analysing and Visualising Data with R: Day 2</td> </tr>
      <tr> <td>16:50</td>  <td>Finish</td> </tr>
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday 2 May (Optional)</h3>
    <table class="table table-striped">
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:10</td>  <td>Break</td> </tr>
      <tr> <td>14:20</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>15:20</td>  <td>Break</td> </tr>
      <tr> <td>15:30</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>16:30</td>  <td>Finish</td> </tr>
    </table>
  </div>
</div>
